[Unit]
Description=MQTT Heartbeat Sender
After=network.target

[Service]
ExecStart=exec python /home/pi/heartbeat/heartbeat_sender.py
WorkingDirectory=/home/pi/heartbeat
Restart=always
User=pi
StandardOutput=append:/home/pi/heartbeat/heartbeat_sender.log
StandardError=append:/home/pi/heartbeat/heartbeat_sender.log

[Install]
WantedBy=multi-user.target
