[Unit]
Description=Heartbeat Monitor Service
After=network.target

[Service]
ExecStart=/bin/bash -c 'source /home/pi/miniconda3/bin/activate weather && exec python /home/pi/heartbeat_monitor/monitor_sql.py'
WorkingDirectory=/home/pi/heartbeat_monitor
StandardOutput=append:/home/pi/heartbeat_monitor/heartbeat_monitor.log
StandardError=append:/home/pi/heartbeat_monitor/heartbeat_monitor.log
Restart=always
User=pi
Environment="PATH=/home/pi/miniconda3/envs/weather/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
TTYPath=/dev/console

[Install]
WantedBy=multi-user.target
